{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "bracketSpacing": false,
    "printWidth": 180,
    "plugins": ["prettier-plugin-solidity"],
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "printWidth": 180,
                "tabWidth": 4,
                "useTabs": false,
                "singleQuote": false,
                "bracketSpacing": false,
                "explicitTypes": "always"
            }
        }
    ]
}
